# 3. Advanced ETL Techniques

Supercharge your workflow with advanced data pipelining techniques, such as working with non-tabular data and persisting DataFrames to SQL databases. Discover tooling to tackle advanced transformations with pandas, and uncover best-practices for working with complex data.

## Libraries

In [43]:
# Common
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Json
import json

# Parquet Files
import parquet as pq
import fastparquet

# SQL
import sqlalchemy
import psycopg2

# Pandas SQL
import pandasql as ps

# Logging
import logging

## User Variables

In [44]:
testing_scores_json_path = "../Datasets/testing_scores.json"
raw_testing_scores = pd.read_csv(testing_scores_json_path)

raw_testing_scores_path = "../Datasets/nested_school_scores.json"
raw_testing_scores = pd.read_json(raw_testing_scores_path)

# Exercises

## 1. ngesting JSON data with pandas

### Description

When developing a data pipeline, you may have to work with non-tabular data and data sources, such as APIs or JSON files. In this exercise, we'll practice extracting data from a JSON file using ``pandas``.

``pandas`` has been imported as ``pd``, and the JSON file you'll ingest is stored at the path ``"testing_scores.json"``.

### Instructions

* Update the ``extract()`` function read a JSON file into a ``pandas`` DataFrame, orienting by records.
* Pass the path ``testing_scores.json`` to the ``extract()`` function, and store the output to a variable called ``raw_testing_scores``.
* Print the head of the ``raw_testing_scores`` DataFrame.

In [45]:
def extract(file_path):
  # Read the JSON file into a DataFrame
  return pd.read_json(file_path, orient="records")

# Call the extract function with the appropriate path, assign to raw_testing_scores
raw_testing_scores = extract("../Datasets/testing_scores.json")

# Output the head of the DataFrame
print(raw_testing_scores.head())

              street_address       city  math_score  reading_score  \
02M260  425 West 33rd Street  Manhattan         NaN            NaN
06M211    650 Academy Street  Manhattan         NaN            NaN
01M539   111 Columbia Street  Manhattan       657.0          601.0
02M294      350 Grand Street  Manhattan       395.0          411.0
02M308      350 Grand Street  Manhattan       418.0          428.0

        writing_score
02M260            NaN
06M211            NaN
01M539          601.0
02M294          387.0
02M308          415.0

Excellent data extracting! Ingesting JSON files into pandas DataFrames is the first step in preparing non-tabular data for further transformation.

## 2. Reading JSON data into memory

### Description

When data is stored in JSON format, it's not always easy to load into a DataFrame. This is the case for the "nested_testing_scores.json" file. Here, the data will have to be manually manipulated before it can be stored in a DataFrame.

To help get you started, ``pandas`` has been loaded into the workspace as ``pd``.

### Instructions

* Use ``pandas`` to read a JSON file into a DataFrame. Pass the ``"nested_scores.json"`` file path to the ``extract()`` function.
* Import the ``json`` library. Use the ``json`` library to load the ``"nested_scores.json"`` file into memory.

In [46]:
# Import the json library
import json

def extract(file_path):
  	# Read the JSON file into a DataFrame, orient by index
    with open(file_path, "r") as json_file:
		# Load the data from the JSON file
        raw_data = json.load(json_file)
		
	# return pd.read_json(file_path, orient="index")
    return raw_data

# Call the extract function, pass in the desired file_path
raw_testing_scores = extract("../Datasets/nested_scores.json")

# print(raw_testing_scores.head())
print(raw_testing_scores)

{'02M260': {'street_address': '425 West 33rd Street', 'city': 'Manhattan', 'scores': {'math': None, 'reading': None, 'writing': None}}, '06M211': {'street_address': '650 Academy Street', 'city': 'Manhattan', 'scores': {'math': None, 'reading': None, 'writing': None}}, '01M539': {'street_address': '111 Columbia Street', 'city': 'Manhattan', 'scores': {'math': 657.0, 'reading': 601.0, 'writing': 601.0}}, '02M294': {'street_address': '350 Grand Street', 'city': 'Manhattan', 'scores': {'math': 395.0, 'reading': 411.0, 'writing': 387.0}}, '02M308': {'street_address': '350 Grand Street', 'city': 'Manhattan', 'scores': {'math': 418.0, 'reading': 428.0, 'writing': 415.0}}, '02M545': {'street_address': '350 Grand Street', 'city': 'Manhattan', 'scores': {'math': 613.0, 'reading': 453.0, 'writing': 463.0}}, '01M292': {'street_address': '220 Henry Street', 'city': 'Manhattan', 'scores': {'math': 410.0, 'reading': 406.0, 'writing': 381.0}}, '01M696': {'street_address': '525 East Houston Street', 'city': 'Manhattan', 'scores': {'math': 634.0, 'reading': 641.0, 'writing': 639.0}}, '02M305': {'street_address': '350 Grand Street', 'city': 'Manhattan', 'scores': {'math': 389.0, 'reading': 395.0, 'writing': 381.0}}, '01M509': {'street_address': '145 Stanton Street', 'city': 'Manhattan', 'scores': {'math': 438.0, 'reading': 413.0, 'writing': 394.0}}, '01M448': {'street_address': '200 Monroe Street', 'city': 'Manhattan', 'scores': {'math': 437.0, 'reading': 355.0, 'writing': 352.0}}, '02M543': {'street_address': '350 Grand Street', 'city': 'Manhattan', 'scores': {'math': 381.0, 'reading': 396.0, 'writing': 372.0}}, '02M298': {'street_address': '100 Hester Street', 'city': 'Manhattan', 'scores': {'math': 430.0, 'reading': 435.0, 'writing': 427.0}}, '02M420': {'street_address': '345 East 15th Street', 'city': 'Manhattan', 'scores': {'math': 452.0, 'reading': 445.0, 'writing': 430.0}}, '02M399': {'street_address': '40 Irving Place', 'city': 'Manhattan', 'scores': {'math': 446.0, 'reading': 433.0, 'writing': 411.0}}, '02M546': {'street_address': '40 Irving Place', 'city': 'Manhattan', 'scores': {'math': None, 'reading': None, 'writing': None}}, '02M533': {'street_address': '40 Irving Place', 'city': 'Manhattan', 'scores': {'math': None, 'reading': None, 'writing': None}}, '02M438': {'street_address': '40 Irving Place', 'city': 'Manhattan', 'scores': {'math': 403.0, 'reading': 330.0, 'writing': 316.0}}, '02M407': {'street_address': '345 East 15th Street', 'city': 'Manhattan', 'scores': {'math': 501.0, 'reading': 550.0, 'writing': 541.0}}, '02M374': {'street_address': '40 Irving Place', 'city': 'Manhattan', 'scores': {'math': 446.0, 'reading': 459.0, 'writing': 455.0}}, '02M551': {'street_address': '550 Wheeler Avenue', 'city': 'Manhattan', 'scores': {'math': 446.0, 'reading': 453.0, 'writing': 428.0}}, '02M580': {'street_address': '26 Broadway', 'city': 'Manhattan', 'scores': {'math': 411.0, 'reading': 415.0, 'writing': 409.0}}, '02M418': {'street_address': '75 Broad Street', 'city': 'Manhattan', 'scores': {'math': 577.0, 'reading': 560.0, 'writing': 567.0}}, '02M316': {'street_address': '26 Broadway', 'city': 'Manhattan', 'scores': {'math': 418.0, 'reading': 420.0, 'writing': 417.0}}, '02M489': {'street_address': '100 Trinity Place', 'city': 'Manhattan', 'scores': {'math': 469.0, 'reading': 442.0, 'writing': 447.0}}, '02M425': {'street_address': '90 Trinity Place', 'city': 'Manhattan', 'scores': {'math': 390.0, 'reading': 396.0, 'writing': 392.0}}, '01M450': {'street_address': '420 East 12th Street', 'city': 'Manhattan', 'scores': {'math': 454.0, 'reading': 428.0, 'writing': 445.0}}, '02M411': {'street_address': '55 East 25th Street', 'city': 'Manhattan', 'scores': {'math': 592.0, 'reading': 526.0, 'writing': 531.0}}, '02M047': {'street_address': '223 East 23rd Street', 'city': 'Manhattan', 'scores': {'math': None, 'reading': None, 'writing': None}}, '02M413': {'street_address': '127 East 22nd Street', 'city': 'Manhattan', 'scores': {'math': 534.0, 'reading': 533.0, 'writing': 522.0}}, '02M439': {'street_address': '43 West 22nd Street', 'city': 'Manhattan', 'scores': {'math': 522.0, 'reading': 479.0, 'writing': 510.0}}, '02M422': {'street_address': '351 West 18th Street', 'city': 'Manhattan', 'scores': {'math': None, 'reading': None, 'writing': None}}, '02M412': {'street_address': '333 West 17th Street', 'city': 'Manhattan', 'scores': {'math': 595.0, 'reading': 550.0, 'writing': 555.0}}, '02M534': {'street_address': '34 West 14th Street', 'city': 'Manhattan', 'scores': {'math': None, 'reading': None, 'writing': None}}, '02M437': {'street_address': '351 West 18th Street', 'city': 'Manhattan', 'scores': {'math': 378.0, 'reading': 407.0, 'writing': 388.0}}, '02M392': {'street_address': '351 West 18th Street', 'city': 'Manhattan', 'scores': {'math': 410.0, 'reading': 407.0, 'writing': 399.0}}, '02M605': {'street_address': '351 West 18th Street', 'city': 'Manhattan', 'scores': {'math': None, 'reading': None, 'writing': None}}, '02M419': {'street_address': '351 West 18th Street', 'city': 'Manhattan', 'scores': {'math': 386.0, 'reading': 386.0, 'writing': 386.0}}, '02M600': {'street_address': '225 West 24th Street', 'city': 'Manhattan', 'scores': {'math': 433.0, 'reading': 442.0, 'writing': 427.0}}, '02M414': {'street_address': '333 West 17th Street', 'city': 'Manhattan', 'scores': {'math': 560.0, 'reading': 530.0, 'writing': 522.0}}, '02M615': {'street_address': '131 Avenue of the Americas', 'city': 'Manhattan', 'scores': {'math': 439.0, 'reading': 418.0, 'writing': 400.0}}, '02M376': {'street_address': '131 Avenue of the Americas', 'city': 'Manhattan', 'scores': {'math': 518.0, 'reading': 515.0, 'writing': 503.0}}, '02M432': {'street_address': '111 East 33rd Street', 'city': 'Manhattan', 'scores': {'math': None, 'reading': None, 'writing': None}}, '02M427': {'street_address': '111 East 33rd Street', 'city': 'Manhattan', 'scores': {'math': 350.0, 'reading': 334.0, 'writing': 321.0}}, '02M500': {'street_address': '111 East 33rd Street', 'city': 'Manhattan', 'scores': {'math': 375.0, 'reading': 385.0, 'writing': 387.0}}, '02M393': {'street_address': '439 West 49th Street', 'city': 'Manhattan', 'scores': {'math': 395.0, 'reading': 386.0, 'writing': 371.0}}, '02M303': {'street_address': '525 West 50th Street', 'city': 'Manhattan', 'scores': {'math': 366.0, 'reading': 356.0, 'writing': 371.0}}, '02M296': {'street_address': '525 West 50th Street', 'city': 'Manhattan', 'scores': {'math': 451.0, 'reading': 433.0, 'writing': 424.0}}, '02M300': {'street_address': '525 West 50th Street', 'city': 'Manhattan', 'scores': {'math': 445.0, 'reading': 417.0, 'writing': 403.0}}, '02M135': {'street_address': '439 West 49th Street', 'city': 'Manhattan', 'scores': {'math': None, 'reading': None, 'writing': None}}, '02M400': {'street_address': '444 West 56th Street', 'city': 'Manhattan', 'scores': {'math': 469.0, 'reading': 454.0, 'writing': 444.0}}, '02M630': {'street_address': '231-249 East 56th Street', 'city': 'Manhattan', 'scores': {'math': 455.0, 'reading': 475.0, 'writing': 458.0}}, '02M542': {'street_address': '525 West 50th Street', 'city': 'Manhattan', 'scores': {'math': 409.0, 'reading': 360.0, 'writing': 347.0}}, '02M507': {'street_address': '439 West 49th Street', 'city': 'Manhattan', 'scores': {'math': 445.0, 'reading': 432.0, 'writing': 415.0}}, '02M288': {'street_address': '525 West 50th Street', 'city': 'Manhattan', 'scores': {'math': 428.0, 'reading': 435.0, 'writing': 421.0}}, '02M416': {'street_address': '411 East 76th Street', 'city': 'Manhattan', 'scores': {'math': 641.0, 'reading': 617.0, 'writing': 631.0}}, '03M299': {'street_address': '122 Amsterdam Avenue', 'city': 'Manhattan', 'scores': {'math': 375.0, 'reading': 389.0, 'writing': 380.0}}, '03M307': {'street_address': '122 Amsterdam Avenue', 'city': 'Manhattan', 'scores': {'math': 392.0, 'reading': 419.0, 'writing': 396.0}}, '03M479': {'street_address': '227-243 West 61st Street', 'city': 'Manhattan', 'scores': {'math': 583.0, 'reading': 586.0, 'writing': 595.0}}, '03M485': {'street_address': '100 Amsterdam Avenue', 'city': 'Manhattan', 'scores': {'math': 592.0, 'reading': 592.0, 'writing': 597.0}}, '03M494': {'street_address': '122 Amsterdam Avenue', 'city': 'Manhattan', 'scores': {'math': 421.0, 'reading': 428.0, 'writing': 406.0}}, '03M541': {'street_address': '122 Amsterdam Avenue', 'city': 'Manhattan', 'scores': {'math': 581.0, 'reading': 531.0, 'writing': 535.0}}, '03M859': {'street_address': '122 Amsterdam Avenue', 'city': 'Manhattan', 'scores': {'math': None, 'reading': None, 'writing': None}}, '03M492': {'street_address': '122 Amsterdam Avenue', 'city': 'Manhattan', 'scores': {'math': 415.0, 'reading': 417.0, 'writing': 402.0}}, '03M402': {'street_address': '145 West 84th Street', 'city': 'Manhattan', 'scores': {'math': 393.0, 'reading': 371.0, 'writing': 378.0}}, '03M417': {'street_address': '145 West 84th Street', 'city': 'Manhattan', 'scores': {'math': 489.0, 'reading': 491.0, 'writing': 500.0}}, '03M403': {'street_address': '145 West 84th Street', 'city': 'Manhattan', 'scores': {'math': 406.0, 'reading': 407.0, 'writing': 413.0}}, '03M415': {'street_address': '215 West 114th Street', 'city': 'Manhattan', 'scores': {'math': 381.0, 'reading': 401.0, 'writing': 392.0}}, '03M860': {'street_address': '215 West 114th Street', 'city': 'Manhattan', 'scores': {'math': 390.0, 'reading': 384.0, 'writing': 373.0}}, '05M362': {'street_address': '425 West 123rd Street', 'city': 'Manhattan', 'scores': {'math': 583.0, 'reading': 561.0, 'writing': 546.0}}, '05M367': {'street_address': '509 West 129th Street', 'city': 'Manhattan', 'scores': {'math': 357.0, 'reading': 349.0, 'writing': 365.0}}, '05M369': {'street_address': '509 West 129th Street', 'city': 'Manhattan', 'scores': {'math': 379.0, 'reading': 399.0, 'writing': 388.0}}, '04M680': {'street_address': '1680 Lexington Avenue', 'city': 'Manhattan', 'scores': {'math': 385.0, 'reading': 380.0, 'writing': 370.0}}, '04M555': {'street_address': '1573 Madison Avenue', 'city': 'Manhattan', 'scores': {'math': 483.0, 'reading': 468.0, 'writing': 439.0}}, '04M495': {'street_address': '230 East 105th Street', 'city': 'Manhattan', 'scores': {'math': 429.0, 'reading': 433.0, 'writing': 435.0}}, '04M610': {'street_address': '105 East 106th Street', 'city': 'Manhattan', 'scores': {'math': 478.0, 'reading': 465.0, 'writing': 472.0}}, '04M435': {'street_address': '260 Pleasant Avenue', 'city': 'Manhattan', 'scores': {'math': 556.0, 'reading': 505.0, 'writing': 495.0}}, '04M372': {'street_address': '240 East 109th Street', 'city': 'Manhattan', 'scores': {'math': None, 'reading': None, 'writing': None}}, '05M304': {'street_address': '6 Edgecombe Avenue', 'city': 'Manhattan', 'scores': {'math': 416.0, 'reading': 445.0, 'writing': 440.0}}, '05M670': {'street_address': '200-214 West 135th Street', 'city': 'Manhattan', 'scores': {'math': 402.0, 'reading': 394.0, 'writing': 400.0}}, '05M692': {'street_address': '240 Convent Avenue', 'city': 'Manhattan', 'scores': {'math': 683.0, 'reading': 610.0, 'writing': 596.0}}, '06M540': {'street_address': '443 West 135th Street', 'city': 'Manhattan', 'scores': {'math': 459.0, 'reading': 453.0, 'writing': 447.0}}, '06M552': {'street_address': '501 West 165th Street', 'city': 'Manhattan', 'scores': {'math': 383.0, 'reading': 355.0, 'writing': 352.0}}, '06M346': {'street_address': '504 West 158th Street', 'city': 'Manhattan', 'scores': {'math': 387.0, 'reading': 389.0, 'writing': 385.0}}, '06M348': {'street_address': '511 West 182nd Street', 'city': 'Manhattan', 'scores': {'math': 443.0, 'reading': 423.0, 'writing': 434.0}}, '06M423': {'street_address': '650 Academy Street', 'city': 'Manhattan', 'scores': {'math': None, 'reading': None, 'writing': None}}, '05M157': {'street_address': '2005 Madison Avenue', 'city': 'Manhattan', 'scores': {'math': None, 'reading': None, 'writing': None}}, '04M409': {'street_address': '2351 1st Avenue', 'city': 'Manhattan', 'scores': {'math': 344.0, 'reading': 368.0, 'writing': 367.0}}, '02M531': {'street_address': '123 West 43rd Street', 'city': 'Manhattan', 'scores': {'math': 425.0, 'reading': 451.0, 'writing': 458.0}}, '02M408': {'street_address': '328 West 48th Street', 'city': 'Manhattan', 'scores': {'math': 496.0, 'reading': 520.0, 'writing': 516.0}}, '02M529': {'street_address': '120 West 46th Street', 'city': 'Manhattan', 'scores': {'math': 418.0, 'reading': 422.0, 'writing': 415.0}}, '02M280': {'street_address': '411 Pearl Street', 'city': 'Manhattan', 'scores': {'math': None, 'reading': None, 'writing': None}}, '02M520': {'street_address': '411 Pearl Street', 'city': 'Manhattan', 'scores': {'math': 418.0, 'reading': 415.0, 'writing': 398.0}}, '02M282': {'street_address': '411 Pearl Street', 'city': 'Manhattan', 'scores': {'math': None, 'reading': None, 'writing': None}}, '02M139': {'street_address': '411 Pearl Street', 'city': 'Manhattan', 'scores': {'math': None, 'reading': None, 'writing': None}}, '05M499': {'street_address': '2581 7th Avenue', 'city': 'Manhattan', 'scores': {'math': 463.0, 'reading': 452.0, 'writing': 450.0}}, '06M463': {'street_address': '549 Audubon Avenue', 'city': 'Manhattan', 'scores': {'math': 378.0, 'reading': 381.0, 'writing': 383.0}}, '06M462': {'street_address': '549 Audubon Avenue', 'city': 'Manhattan', 'scores': {'math': 367.0, 'reading': 377.0, 'writing': 363.0}}, '06M467': {'street_address': '549 Audubon Avenue', 'city': 'Manhattan', 'scores': {'math': 401.0, 'reading': 394.0, 'writing': 381.0}}, '06M293': {'street_address': '4600 Broadway', 'city': 'Manhattan', 'scores': {'math': 495.0, 'reading': 445.0, 'writing': 450.0}}, '06M468': {'street_address': '549 Audubon Avenue', 'city': 'Manhattan', 'scores': {'math': 374.0, 'reading': 385.0, 'writing': 389.0}}, '02M459': {'street_address': '317 East 67th Street', 'city': 'Manhattan', 'scores': {'math': 438.0, 'reading': 358.0, 'writing': 382.0}}, '02M519': {'street_address': '317 East 67th Street', 'city': 'Manhattan', 'scores': {'math': 485.0, 'reading': 498.0, 'writing': 496.0}}, '02M449': {'street_address': '317 East 67th Street', 'city': 'Manhattan', 'scores': {'math': 431.0, 'reading': 409.0, 'writing': 396.0}}, '02M655': {'street_address': '320 East 96th Street', 'city': 'Manhattan', 'scores': {'math': 435.0, 'reading': 440.0, 'writing': 425.0}}, '02M475': {'street_address': '345 Chambers Street', 'city': 'Manhattan', 'scores': {'math': 754.0, 'reading': 697.0, 'writing': 693.0}}, '31R600': {'street_address': '290 St Marks Place', 'city': 'Staten Island', 'scores': {'math': 420.0, 'reading': 429.0, 'writing': 409.0}}, '31R080': {'street_address': '715 Ocean Terrace', 'city': 'Staten Island', 'scores': {'math': 483.0, 'reading': 473.0, 'writing': 470.0}}, '31R450': {'street_address': '105 Hamilton Avenue', 'city': 'Staten Island', 'scores': {'math': 453.0, 'reading': 458.0, 'writing': 444.0}}, '31R445': {'street_address': '85 St Josephs Avenue', 'city': 'Staten Island', 'scores': {'math': 432.0, 'reading': 427.0, 'writing': 425.0}}, '31R605': {'street_address': '485 Clawson Street', 'city': 'Staten Island', 'scores': {'math': 711.0, 'reading': 660.0, 'writing': 670.0}}, '31R440': {'street_address': '465 New Dorp Lane', 'city': 'Staten Island', 'scores': {'math': 454.0, 'reading': 446.0, 'writing': 444.0}}, '31R455': {'street_address': '100 Luten Avenue', 'city': 'Staten Island', 'scores': {'math': 494.0, 'reading': 476.0, 'writing': 476.0}}, '31R460': {'street_address': '1200 Manor Road', 'city': 'Staten Island', 'scores': {'math': 496.0, 'reading': 490.0, 'writing': 487.0}}, '31R064': {'street_address': '100 Essex Drive', 'city': 'Staten Island', 'scores': {'math': 442.0, 'reading': 458.0, 'writing': 454.0}}, '31R047': {'street_address': '100 Essex Drive', 'city': 'Staten Island', 'scores': {'math': 477.0, 'reading': 468.0, 'writing': 464.0}}, '07X522': {'street_address': '333 East 151st Street', 'city': 'Bronx', 'scores': {'math': None, 'reading': None, 'writing': None}}, '07X547': {'street_address': '730 Concourse Village West', 'city': 'Bronx', 'scores': {'math': 390.0, 'reading': 398.0, 'writing': 376.0}}, '09X505': {'street_address': '244 East 163rd Street', 'city': 'Bronx', 'scores': {'math': 403.0, 'reading': 409.0, 'writing': 415.0}}, '07X548': {'street_address': '730 Concourse Village West', 'city': 'Bronx', 'scores': {'math': 402.0, 'reading': 405.0, 'writing': 395.0}}, '07X527': {'street_address': '730 Concourse Village West', 'city': 'Bronx', 'scores': {'math': 384.0, 'reading': 355.0, 'writing': 361.0}}, '07X551': {'street_address': '339 Morris Avenue', 'city': 'Bronx', 'scores': {'math': 398.0, 'reading': 400.0, 'writing': 405.0}}, '07X670': {'street_address': '350 Gerard Avenue', 'city': 'Bronx', 'scores': {'math': 374.0, 'reading': 386.0, 'writing': 382.0}}, '07X427': {'street_address': '350 Gerard Avenue', 'city': 'Bronx', 'scores': {'math': 380.0, 'reading': 382.0, 'writing': 362.0}}, '07X600': {'street_address': '333 East 151st Street', 'city': 'Bronx', 'scores': {'math': 390.0, 'reading': 373.0, 'writing': 371.0}}, '09X327': {'street_address': '1501 Jerome Avenue', 'city': 'Bronx', 'scores': {'math': None, 'reading': None, 'writing': None}}, '09X365': {'street_address': '1700 Macombs Road', 'city': 'Bronx', 'scores': {'math': 371.0, 'reading': 334.0, 'writing': 348.0}}, '07X223': {'street_address': '360 East 145th Street', 'city': 'Bronx', 'scores': {'math': None, 'reading': None, 'writing': None}}, '07X221': {'street_address': '360 East 145th Street', 'city': 'Bronx', 'scores': {'math': 419.0, 'reading': 414.0, 'writing': 394.0}}, '07X334': {'street_address': '345 Brook Avenue', 'city': 'Bronx', 'scores': {'math': 345.0, 'reading': 338.0, 'writing': 312.0}}, '07X520': {'street_address': '470 Jackson Avenue', 'city': 'Bronx', 'scores': {'math': None, 'reading': None, 'writing': None}}, '07X500': {'street_address': '600 St Anns Avenue', 'city': 'Bronx', 'scores': {'math': 463.0, 'reading': 451.0, 'writing': 435.0}}, '07X259': {'street_address': '455 Southern Boulevard', 'city': 'Bronx', 'scores': {'math': None, 'reading': None, 'writing': None}}, '07X495': {'street_address': '701 St Anns Avenue', 'city': 'Bronx', 'scores': {'math': 420.0, 'reading': 446.0, 'writing': 424.0}}, '07X473': {'street_address': '701 St Anns Avenue', 'city': 'Bronx', 'scores': {'math': 377.0, 'reading': 373.0, 'writing': 369.0}}, '09X543': {'street_address': '1110 Boston Road', 'city': 'Bronx', 'scores': {'math': 363.0, 'reading': 401.0, 'writing': 396.0}}, '09X403': {'street_address': '1110 Boston Road', 'city': 'Bronx', 'scores': {'math': 355.0, 'reading': 330.0, 'writing': 320.0}}, '08X559': {'street_address': '900 Tinton Avenue', 'city': 'Bronx', 'scores': {'math': None, 'reading': None, 'writing': None}}, '12X479': {'street_address': '800 Home Street', 'city': 'Bronx', 'scores': {'math': 370.0, 'reading': 379.0, 'writing': 381.0}}, '09X260': {'street_address': '1363 Fulton Avenue', 'city': 'Bronx', 'scores': {'math': 513.0, 'reading': 468.0, 'writing': 485.0}}, '09X324': {'street_address': '250 East 164th Street', 'city': 'Bronx', 'scores': {'math': 424.0, 'reading': 413.0, 'writing': 409.0}}, '09X250': {'street_address': '1363 Fulton Avenue', 'city': 'Bronx', 'scores': {'math': 400.0, 'reading': 391.0, 'writing': 397.0}}, '12X267': {'street_address': '800 Home Street', 'city': 'Bronx', 'scores': {'math': 394.0, 'reading': 381.0, 'writing': 363.0}}, '09X404': {'street_address': '1110 Boston Road', 'city': 'Bronx', 'scores': {'math': 377.0, 'reading': 385.0, 'writing': 383.0}}, '09X297': {'street_address': '1110 Boston Road', 'city': 'Bronx', 'scores': {'math': 407.0, 'reading': 389.0, 'writing': 386.0}}, '09X517': {'street_address': '3630 Third Avenue', 'city': 'Bronx', 'scores': {'math': 387.0, 'reading': 386.0, 'writing': 386.0}}, '09X564': {'street_address': '240 East 172nd Street', 'city': 'Bronx', 'scores': {'math': None, 'reading': None, 'writing': None}}, '09X241': {'street_address': '1595 Bath

You're off to a great start! The data from the JSON file has been loaded into a dictionary in-memory.

## 3. Iterating over dictionaries

### Description

Once JSON data is loaded into a dictionary, you can leverage Python's built-in tools to iterate over its keys and values.

The ``"nested_school_scores.json"`` file has been read into a dictionary stored in the ``raw_testing_scores`` variable, which takes the following form:

```json
{
    "01M539": {
        "street_address": "111 Columbia Street",
        "city": "Manhattan",
        "scores": {
              "math": 657,
              "reading": 601,
              "writing": 601
        }
  }, ...
}
```

### Instructions

* Loop through the keys of the ``raw_testing_scores`` dictionary. Add each key to the ``raw_testing_scores_keys`` list.
* Now, loop through a list of values from the ``raw_testing_scores`` dictionary.
* Finally, loop through both the keys and values of the ``raw_testing_scores`` dictionary, simultaneously.

In [47]:
raw_testing_scores_keys = []

# Iterate through the keys of the raw_testing_scores dictionary
for school_id in raw_testing_scores.keys():
  	# Append each key to the raw_testing_scores_keys list
	raw_testing_scores_keys.append(school_id)
    
print(raw_testing_scores_keys[0:3])

['02M260', '06M211', '01M539']

In [48]:
raw_testing_scores_values = []

# Iterate through the values of the raw_testing_scores dictionary
for school_info in raw_testing_scores.values():
	raw_testing_scores_values.append(school_info)
    
print(raw_testing_scores_values[0:3])

[{'street_address': '425 West 33rd Street', 'city': 'Manhattan', 'scores': {'math': None, 'reading': None, 'writing': None}}, {'street_address': '650 Academy Street', 'city': 'Manhattan', 'scores': {'math': None, 'reading': None, 'writing': None}}, {'street_address': '111 Columbia Street', 'city': 'Manhattan', 'scores': {'math': 657.0, 'reading': 601.0, 'writing': 601.0}}]

In [49]:
raw_testing_scores_keys = []
raw_testing_scores_values = []

# Iterate through the values of the raw_testing_scores dictionary
for school_id, school_info in raw_testing_scores.items():
	raw_testing_scores_keys.append(school_id)
	raw_testing_scores_values.append(school_info)

print(raw_testing_scores_keys[0:3])
print(raw_testing_scores_values[0:3])

['02M260', '06M211', '01M539']
[{'street_address': '425 West 33rd Street', 'city': 'Manhattan', 'scores': {'math': None, 'reading': None, 'writing': None}}, {'street_address': '650 Academy Street', 'city': 'Manhattan', 'scores': {'math': None, 'reading': None, 'writing': None}}, {'street_address': '111 Columbia Street', 'city': 'Manhattan', 'scores': {'math': 657.0, 'reading': 601.0, 'writing': 601.0}}]

Great iteration! Iterating through the both the keys and values of dictionaries lays a foundation for working with non-tabluar JSON data. Keep up the good work!

## 4. Parsing data from dictionaries

### Description

When JSON data is loaded into memory, the resulting dictionary can be complicated. Key-value pairs may contain another dictionary, such are called nested dictionaries. These nested dictionaries are frequently encountered when dealing with APIs or other JSON data. In this exercise, you will practice extracting data from nested dictionaries and handling missing values.

The dictionary below is stored in the ``school`` variable. Good luck!

```json
{
    "street_address": "111 Columbia Street",
    "city": "Manhattan",
    "scores": {
        "math": 657,
        "reading": 601
    }
}
```

### Instructions

* Parse the value stored at the ``"street_address"`` key from the ``school`` dictionary.
* Parse the value stored at the ``"scores"`` key from the ``school`` dictionary.
* Parse the values stored at the ``"math"``, ``"reading"``, and ``"writing"`` keys from the ``scores`` dictionary, and set the default value to 0.

In [50]:
school = {'street_address': '111 Columbia Street',
 'city': 'Manhattan',
 'scores': {'math': 657, 'reading': 601}}

In [51]:
# Parse the street_address from the dictionary
street_address = school.get("street_address")

# Parse the scores dictionary
scores = school.get("scores")

# Try to parse the math, reading and writing values from scores
math_score = scores.get("math", 0)
reading_score = scores.get("reading", 0)
writing_score = scores.get("writing", 0)

print(f"Street Address: {street_address}")
print(f"Math: {math_score}, Reading: {reading_score}, Writing: {writing_score}")

Street Address: 111 Columbia Street
Math: 657, Reading: 601, Writing: 0

Great work! Understanding how to pull data from nested dictionaries is a valuable skill when working with non-tabluar data.

## 5. Transforming JSON data

### Description

Chances are, when reading data from JSON format into a dictionary, you'll probably have to apply some level of manual transformation to the data before it can be stored in a DataFrame. This is common when working with nested dictionaries, which you'll have the opportunity to explore in this exercise.

The ``"nested_school_scores.json"`` file has been read into a dictionary available in the ``raw_testing_scores`` variable, which takes the following form:

```json
{
    "01M539": {
        "street_address": "111 Columbia Street",
        "city": "Manhattan",
        "scores": {
              "math": 657,
              "reading": 601,
              "writing": 601
        }
  }, ...
}
```

TIP: You can use the following to convert ``dict`` to ```.json```

```py
import json
json_str = json.dumps(dict_name)
json_var = json.loads(json_str)
```

### Instructions

* Loop through both the keys and values of the ``raw_testing_scores`` dictionary.
* Extract the ``"street_address"`` from each dictionary nested in the ``raw_testing_scores`` object.

In [52]:
normalized_testing_scores = []

# Loop through each of the dictionary key-value pairs
for school_id, school_info in raw_testing_scores.items():
	normalized_testing_scores.append([
    	school_id,
    	school_info.get("street_address"),  # Pull the "street_address"
    	school_info.get("city"),
    	school_info.get("scores").get("math", 0),
    	school_info.get("scores").get("reading", 0),
    	school_info.get("scores").get("writing", 0),
    ])

print(normalized_testing_scores)

[['02M260', '425 West 33rd Street', 'Manhattan', None, None, None], ['06M211', '650 Academy Street', 'Manhattan', None, None, None], ['01M539', '111 Columbia Street', 'Manhattan', 657.0, 601.0, 601.0], ['02M294', '350 Grand Street', 'Manhattan', 395.0, 411.0, 387.0], ['02M308', '350 Grand Street', 'Manhattan', 418.0, 428.0, 415.0], ['02M545', '350 Grand Street', 'Manhattan', 613.0, 453.0, 463.0], ['01M292', '220 Henry Street', 'Manhattan', 410.0, 406.0, 381.0], ['01M696', '525 East Houston Street', 'Manhattan', 634.0, 641.0, 639.0], ['02M305', '350 Grand Street', 'Manhattan', 389.0, 395.0, 381.0], ['01M509', '145 Stanton Street', 'Manhattan', 438.0, 413.0, 394.0], ['01M448', '200 Monroe Street', 'Manhattan', 437.0, 355.0, 352.0], ['02M543', '350 Grand Street', 'Manhattan', 381.0, 396.0, 372.0], ['02M298', '100 Hester Street', 'Manhattan', 430.0, 435.0, 427.0], ['02M420', '345 East 15th Street', 'Manhattan', 452.0, 445.0, 430.0], ['02M399', '40 Irving Place', 'Manhattan', 446.0, 433.0, 411.0], ['02M546', '40 Irving Place', 'Manhattan', None, None, None], ['02M533', '40 Irving Place', 'Manhattan', None, None, None], ['02M438', '40 Irving Place', 'Manhattan', 403.0, 330.0, 316.0], ['02M407', '345 East 15th Street', 'Manhattan', 501.0, 550.0, 541.0], ['02M374', '40 Irving Place', 'Manhattan', 446.0, 459.0, 455.0], ['02M551', '550 Wheeler Avenue', 'Manhattan', 446.0, 453.0, 428.0], ['02M580', '26 Broadway', 'Manhattan', 411.0, 415.0, 409.0], ['02M418', '75 Broad Street', 'Manhattan', 577.0, 560.0, 567.0], ['02M316', '26 Broadway', 'Manhattan', 418.0, 420.0, 417.0], ['02M489', '100 Trinity Place', 'Manhattan', 469.0, 442.0, 447.0], ['02M425', '90 Trinity Place', 'Manhattan', 390.0, 396.0, 392.0], ['01M450', '420 East 12th Street', 'Manhattan', 454.0, 428.0, 445.0], ['02M411', '55 East 25th Street', 'Manhattan', 592.0, 526.0, 531.0], ['02M047', '223 East 23rd Street', 'Manhattan', None, None, None], ['02M413', '127 East 22nd Street', 'Manhattan', 534.0, 533.0, 522.0], ['02M439', '43 West 22nd Street', 'Manhattan', 522.0, 479.0, 510.0], ['02M422', '351 West 18th Street', 'Manhattan', None, None, None], ['02M412', '333 West 17th Street', 'Manhattan', 595.0, 550.0, 555.0], ['02M534', '34 West 14th Street', 'Manhattan', None, None, None], ['02M437', '351 West 18th Street', 'Manhattan', 378.0, 407.0, 388.0], ['02M392', '351 West 18th Street', 'Manhattan', 410.0, 407.0, 399.0], ['02M605', '351 West 18th Street', 'Manhattan', None, None, None], ['02M419', '351 West 18th Street', 'Manhattan', 386.0, 386.0, 386.0], ['02M600', '225 West 24th Street', 'Manhattan', 433.0, 442.0, 427.0], ['02M414', '333 West 17th Street', 'Manhattan', 560.0, 530.0, 522.0], ['02M615', '131 Avenue of the Americas', 'Manhattan', 439.0, 418.0, 400.0], ['02M376', '131 Avenue of the Americas', 'Manhattan', 518.0, 515.0, 503.0], ['02M432', '111 East 33rd Street', 'Manhattan', None, None, None], ['02M427', '111 East 33rd Street', 'Manhattan', 350.0, 334.0, 321.0], ['02M500', '111 East 33rd Street', 'Manhattan', 375.0, 385.0, 387.0], ['02M393', '439 West 49th Street', 'Manhattan', 395.0, 386.0, 371.0], ['02M303', '525 West 50th Street', 'Manhattan', 366.0, 356.0, 371.0], ['02M296', '525 West 50th Street', 'Manhattan', 451.0, 433.0, 424.0], ['02M300', '525 West 50th Street', 'Manhattan', 445.0, 417.0, 403.0], ['02M135', '439 West 49th Street', 'Manhattan', None, None, None], ['02M400', '444 West 56th Street', 'Manhattan', 469.0, 454.0, 444.0], ['02M630', '231-249 East 56th Street', 'Manhattan', 455.0, 475.0, 458.0], ['02M542', '525 West 50th Street', 'Manhattan', 409.0, 360.0, 347.0], ['02M507', '439 West 49th Street', 'Manhattan', 445.0, 432.0, 415.0], ['02M288', '525 West 50th Street', 'Manhattan', 428.0, 435.0, 421.0], ['02M416', '411 East 76th Street', 'Manhattan', 641.0, 617.0, 631.0], ['03M299', '122 Amsterdam Avenue', 'Manhattan', 375.0, 389.0, 380.0], ['03M307', '122 Amsterdam Avenue', 'Manhattan', 392.0, 419.0, 396.0], ['03M479', '227-243 West 61st Street', 'Manhattan', 583.0, 586.0, 595.0], ['03M485', '100 Amsterdam Avenue', 'Manhattan', 592.0, 592.0, 597.0], ['03M494', '122 Amsterdam Avenue', 'Manhattan', 421.0, 428.0, 406.0], ['03M541', '122 Amsterdam Avenue', 'Manhattan', 581.0, 531.0, 535.0], ['03M859', '122 Amsterdam Avenue', 'Manhattan', None, None, None], ['03M492', '122 Amsterdam Avenue', 'Manhattan', 415.0, 417.0, 402.0], ['03M402', '145 West 84th Street', 'Manhattan', 393.0, 371.0, 378.0], ['03M417', '145 West 84th Street', 'Manhattan', 489.0, 491.0, 500.0], ['03M403', '145 West 84th Street', 'Manhattan', 406.0, 407.0, 413.0], ['03M415', '215 West 114th Street', 'Manhattan', 381.0, 401.0, 392.0], ['03M860', '215 West 114th Street', 'Manhattan', 390.0, 384.0, 373.0], ['05M362', '425 West 123rd Street', 'Manhattan', 583.0, 561.0, 546.0], ['05M367', '509 West 129th Street', 'Manhattan', 357.0, 349.0, 365.0], ['05M369', '509 West 129th Street', 'Manhattan', 379.0, 399.0, 388.0], ['04M680', '1680 Lexington Avenue', 'Manhattan', 385.0, 380.0, 370.0], ['04M555', '1573 Madison Avenue', 'Manhattan', 483.0, 468.0, 439.0], ['04M495', '230 East 105th Street', 'Manhattan', 429.0, 433.0, 435.0], ['04M610', '105 East 106th Street', 'Manhattan', 478.0, 465.0, 472.0], ['04M435', '260 Pleasant Avenue', 'Manhattan', 556.0, 505.0, 495.0], ['04M372', '240 East 109th Street', 'Manhattan', None, None, None], ['05M304', '6 Edgecombe Avenue', 'Manhattan', 416.0, 445.0, 440.0], ['05M670', '200-214 West 135th Street', 'Manhattan', 402.0, 394.0, 400.0], ['05M692', '240 Convent Avenue', 'Manhattan', 683.0, 610.0, 596.0], ['06M540', '443 West 135th Street', 'Manhattan', 459.0, 453.0, 447.0], ['06M552', '501 West 165th Street', 'Manhattan', 383.0, 355.0, 352.0], ['06M346', '504 West 158th Street', 'Manhattan', 387.0, 389.0, 385.0], ['06M348', '511 West 182nd Street', 'Manhattan', 443.0, 423.0, 434.0], ['06M423', '650 Academy Street', 'Manhattan', None, None, None], ['05M157', '2005 Madison Avenue', 'Manhattan', None, None, None], ['04M409', '2351 1st Avenue', 'Manhattan', 344.0, 368.0, 367.0], ['02M531', '123 West 43rd Street', 'Manhattan', 425.0, 451.0, 458.0], ['02M408', '328 West 48th Street', 'Manhattan', 496.0, 520.0, 516.0], ['02M529', '120 West 46th Street', 'Manhattan', 418.0, 422.0, 415.0], ['02M280', '411 Pearl Street', 'Manhattan', None, None, None], ['02M520', '411 Pearl Street', 'Manhattan', 418.0, 415.0, 398.0], ['02M282', '411 Pearl Street', 'Manhattan', None, None, None], ['02M139', '411 Pearl Street', 'Manhattan', None, None, None], ['05M499', '2581 7th Avenue', 'Manhattan', 463.0, 452.0, 450.0], ['06M463', '549 Audubon Avenue', 'Manhattan', 378.0, 381.0, 383.0], ['06M462', '549 Audubon Avenue', 'Manhattan', 367.0, 377.0, 363.0], ['06M467', '549 Audubon Avenue', 'Manhattan', 401.0, 394.0, 381.0], ['06M293', '4600 Broadway', 'Manhattan', 495.0, 445.0, 450.0], ['06M468', '549 Audubon Avenue', 'Manhattan', 374.0, 385.0, 389.0], ['02M459', '317 East 67th Street', 'Manhattan', 438.0, 358.0, 382.0], ['02M519', '317 East 67th Street', 'Manhattan', 485.0, 498.0, 496.0], ['02M449', '317 East 67th Street', 'Manhattan', 431.0, 409.0, 396.0], ['02M655', '320 East 96th Street', 'Manhattan', 435.0, 440.0, 425.0], ['02M475', '345 Chambers Street', 'Manhattan', 754.0, 697.0, 693.0], ['31R600', '290 St Marks Place', 'Staten Island', 420.0, 429.0, 409.0], ['31R080', '715 Ocean Terrace', 'Staten Island', 483.0, 473.0, 470.0], ['31R450', '105 Hamilton Avenue', 'Staten Island', 453.0, 458.0, 444.0], ['31R445', '85 St Josephs Avenue', 'Staten Island', 432.0, 427.0, 425.0], ['31R605', '485 Clawson Street', 'Staten Island', 711.0, 660.0, 670.0], ['31R440', '465 New Dorp Lane', 'Staten Island', 454.0, 446.0, 444.0], ['31R455', '100 Luten Avenue', 'Staten Island', 494.0, 476.0, 476.0], ['31R460', '1200 Manor Road', 'Staten Island', 496.0, 490.0, 487.0], ['31R064', '100 Essex Drive', 'Staten Island', 442.0, 458.0, 454.0], ['31R047', '100 Essex Drive', 'Staten Island', 477.0, 468.0, 464.0], ['07X522', '333 East 151st Street', 'Bronx', None, None, None], ['07X547', '730 Concourse Village West', 'Bronx', 390.0, 398.0, 376.0], ['09X505', '244 East 163rd Street', 'Bronx', 403.0, 409.0, 415.0], ['07X548', '730 Concourse Village West', 'Bronx', 402.0, 405.0, 395.0], ['07X527', '730 Concourse Village West', 'Bronx', 384.0, 355.0, 361.0], ['07X551', '339 Morris Avenue', 'Bronx', 398.0, 400.0, 405.0], ['07X670', '350 Gerard Avenue', 'Bronx', 374.0, 386.0, 382.0], ['07X427', '350 Gerard Avenue', 'Bronx', 380.0, 382.0, 362.0], ['07X600', '333 East 151st Street', 'Bronx', 390.0, 373.0, 371.0], ['09X327', '1501 Jerome Avenue', 'Bronx', None, None, None], ['09X365', '1700 Macombs Road', 'Bronx', 371.0, 334.0, 348.0], ['07X223', '360 East 145th Street', 'Bronx', None, None, None], ['07X221', '360 East 145th Street', 'Bronx', 419.0, 414.0, 394.0], ['07X334', '345 Brook Avenue', 'Bronx', 345.0, 338.0, 312.0], ['07X520', '470 Jackson Avenue', 'Bronx', None, None, None], ['07X500', '600 St Anns Avenue', 'Bronx', 463.0, 451.0, 435.0], ['07X259', '455 Southern Boulevard', 'Bronx', None, None, None], ['07X495', '701 St Anns Avenue', 'Bronx', 420.0, 446.0, 424.0], ['07X473', '701 St Anns Avenue', 'Bronx', 377.0, 373.0, 369.0], ['09X543', '1110 Boston Road', 'Bronx', 363.0, 401.0, 396.0], ['09X403', '1110 Boston Road', 'Bronx', 355.0, 330.0, 320.0], ['08X559', '900 Tinton Avenue', 'Bronx', None, None, None], ['12X479', '800 Home Street', 'Bronx', 370.0, 379.0, 381.0], ['09X260', '1363 Fulton Avenue', 'Bronx', 513.0, 468.0, 485.0], ['09X324', '250 East 164th Street', 'Bronx', 424.0, 413.0, 409.0], ['09X250', '1363 Fulton Avenue', 'Bronx', 400.0, 391.0, 397.0], ['12X267', '800 Home Street', 'Bronx', 394.0, 381.0, 363.0], ['09X404', '1110 Boston Road', 'Bronx', 377.0, 385.0, 383.0], ['09X297', '1110 Boston Road', 'Bronx', 407.0, 389.0, 386.0], ['09X517', '3630 Third Avenue', 'Bronx', 387.0, 386.0, 386.0], ['09X564', '240 East 172nd Street', 'Bronx', None, None, None], ['09X241', '1595 Bathgate Avenue', 'Bronx', 445.0, 418.0, 422.0], ['09X227', '240 East 172nd Street', 'Bronx', 395.0, 401.0, 382.0], ['09X252', '1595 Bathgate Avenue', 'Bronx', 417.0, 399.0, 398.0], ['09X276', '1701 Fulton Avenue', 'Bronx', None, None, None], ['09X350', '240 East 172nd Street', 'Bronx', None, None, None], ['09X525', '1710 Webster Avenue', 'Bronx', 375.0, 372.0, 374.0], ['09X263', '1595 Bathgate Avenue', 'Bronx', 382.0, 375.0, 384.0], ['09X413', '240 East 172nd Street', 'Bronx', 431.0, 421.0, 426.0], ['09X231', '4143 Third Avenue', 'Bronx', 398.0, 410.0, 397.0], ['09X412', '240 East 172nd Street', 'Bronx', 365.0, 360.0, 346.0], ['09X329', '240 East 172nd Street', 'Bronx', 385.0, 385.0, 388.0], ['10X225', '2225 Webster Avenue', 'Bronx', 402.0, 421.0, 410.0], ['10X243', '500 East Fordham Road', 'Bronx', 404.0, 383.0, 378.0], ['10X524', '2474 Crotona Avenue', 'Bronx', None, None, None], ['10X439', '500 East Fordham Road', 'Bronx', 401.0, 402.0, 386.0], ['10X264', '2474 Crotona Avenue', 'Bronx', None, None, None], ['10X434', '500 East Fordham Road', 'Bronx', 413.0, 408.0, 402.0], ['10X437', '500 East Fordham Road', 'Bronx', 398.0, 404.0, 412.0], ['10X565', '2474 Crotona Avenue', 'Bronx', None, None, None], ['10X374', '500 East Fordham Road', 'Bronx', 408.0, 417.0, 404.0], ['10X438', '500 East Fordham Road', 'Bronx', 355.0, 373.0, 368.0], ['12X248', '1180 Rev JA Polite Avenue', 'Bronx', 387.0, 388.0, 386.0], ['08X332', '965 Longwood Avenue', 'Bronx', 376.0, 372.0, 369.0], ['08X530', '965 Longwood Avenue', 'Bronx', 378.0, 391.0, 378.0], ['08X269', '928 Simpson Street', 'Bronx', 417.0, 412.0, 403.0], ['12X278', '1180 Rev JA Polite Avenue', 'Bronx', 366.0, 362.0, 365.0], ['12X271', '1716 Southern Boulevard', 'Bronx', 418.0, 406.0, 408.0], ['12X511', '1619 Boston Road', 'Bronx', 364.0, 385.0, 366.0], ['12X682', '1021 Jennings Street', 'Bronx', 345.0, 347.0, 339.0], ['12X251', '1619 Boston Road', 'Bronx', 377.0, 372.0, 365.0], ['12X372', '2024 Mohegan Avenue', 'Bronx', 393.0, 397.0, 379.0], ['12X684', '1122 East 180th Street', 'Bronx', 379.0, 372.0, 373.0], ['08X348', '3000 East Tremont Avenue', 'Bronx', None, None, None], ['08X293', '3000 East Tremont Avenue', 'Bronx', 390.0, 411.0, 393.0], ['08X558', '3000 East Tremont Avenue', 'Bronx', None, None, None], ['08X320', '3000 East Tremont Avenue', 'Bronx', None, None, None], ['08X405', '3000 East Tremont Avenue', 'Bronx', 426.0, 419.0, 407.0], ['08X349', '3000 East Tremont Avenue', 'Bronx', None, None, None], ['11X418', '2040 Antin Place', 'Bronx', 408.0, 428.0, 404.0], ['10X368', '2975 Tibbett Avenue', 'Bronx', 426.0, 419.0, 404.0], ['10X284', '99 Terrace View Avenue', 'Bronx', 384.0, 394.0, 366.0], ['10X213', '99 Terrace View Avenue', 'Bronx', 394.0, 406.0, 391.0], ['10X546', '99 Terrace View Avenue', 'Bronx', 382.0, 384.0, 390.0], ['10X477', '99 Terrace View Avenue', 'Bronx', 451.0, 417.0, 423.0], ['10X237', '120 West 231st Street', 'Bronx', 423.0, 420.0, 425.0], ['10X141', '660 West 237th Street', 'Bronx', 496.0, 485.0, 476.0], ['11X513', '921 East 228th Street', 'Bronx', 407.0, 363.0, 358.0], ['11X514', '921 East 228th Street', 'Bronx', 392.0, 408.0, 392.0], ['11X270', '921 East 228th Street', 'Bronx', 392.0, 408.0, 400.0], ['11X544', '800 East Gun Hill Road', 'Bronx', 367.0, 381.0, 361.0], ['11X545', '800 East Gun Hill Road', 'Bronx', 403.0, 410.0, 393.0], ['11X290', '800 East Gun Hill Road', 'Bronx', 386.0, 380.0, 391.0], ['11X275', '800 East Gun Hill Road', 'Bronx', 396.0, 399.0, 377.0], ['11X265', '800 East Gun Hill Road', 'Bronx', 407.0, 416.0, 401.0], ['11X253', '800 East Gun Hill Road', 'Bronx', 380.0, 437.0, 425.0], ['10X433', '2780 Reservoir Avenue', 'Bronx', 372.0, 361.0, 369.0], ['10X445', '75 West 205th Street', 'Bronx', 714.0, 660.0, 667.0], ['10X268', '2780 Reservoir Avenue', 'Bronx', 366.0, 311.0, 310.0], ['10X549', '2780 Reservoir Avenue', 'Bronx', 432.0, 396.0, 395.0], ['10X353', '100 West Mosholu Parkway South', 'Bronx', None, None, None], ['10X442', '2780 Reservoir Avenue', 'Bronx', 417.0, 434.0, 425.0], ['10X696', '2925 Goulden Avenue', 'Bronx', 669.0, 672.0, 672.0], ['10X440', '100 West Mosholu Parkway South', 'Bronx', 445.0, 436.0, 433.0], ['10X342', '2780 Reservoir Avenue', 'Bronx', 390.0, 387.0, 379.0], ['10X351', '100 West Mosholu Parkway South', 'Bronx', None, None, None], ['11X299', '925 Astor Avenue', 'Bronx', 422.0, 417.0, 409.0], ['11X542', '925 Astor Avenue', 'Bronx', 420.0, 433.0, 425.0], ['11X509', '925 Astor Avenue', 'Bronx', 356.0, 340.0, 320.0], ['11X288', '925 Astor Avenue', 'Bronx', 488.0, 461.0, 458.0], ['11X508', '925 Astor Avenue', 'Bronx', 418.0, 432.0, 436.0], ['12X388', '1300 Boynton Avenue', 'Bronx', 317.0, 315.0, 292.0], ['12X478', '1551 East 172nd Street', 'Bronx', 430.0, 449.0, 448.0], ['12X692', '1300 Boynton Avenue', 'Bronx', 361.0, 354.0, 351.0], ['12X242', '1551 East 172nd Street', 'Bronx', 430.0, 422.0, 414.0], ['12X521', '1300 Boynton Avenue', 'Bronx', 444.0, 428.0, 422.0], ['12X550', '1300 Boynton Avenue', 'Bronx', 356.0, 359.0, 347.0], ['08X312', '1980 Lafayette Avenue', 'Bronx', 396.0, 413.0, 395.0], ['08X452', '1980 Lafayette Avenue', 'Bronx', 365.0, 393.0, 357.0], ['08X367', '456 White Plains Road', 'Bronx', 418.0, 430.0, 403.0], ['08X432', '1980 Lafayette Avenue', 'Bronx', None, None, None], ['08X305', '1980 Lafayette Avenue', 'Bronx', 394.0, 384.0, 383.0], ['08X282', '456 White Plains Road', 'Bronx', 386.0, 390.0, 389.0], ['08X561', '1980 Lafayette Avenue', 'Bronx', None, None, None], ['08X519', '1440 Story Avenue', 'Bronx', 389.0, 408.0, 413.0], ['08X376', '1980 Lafayette Avenue', 'Bronx', 435.0, 415.0, 423.0], ['11X249', '750 Baychester Avenue', 'Bronx', 407.0, 421.0, 427.0], ['11X455', '750 Baychester Avenue', 'Bronx', 400.0, 401.0, 391.0], ['24Q600', '37-02 47th Avenue', 'Long Island City', 467.0, 436.0, 432.0], ['24Q267', '30-20 Thomson Avenue', 'Long Island City', 435.0, 437.0, 441.0], ['24Q520', '45-35 Van Dam Street', 'Long Island City', 377.0, 389.0, 377.0], ['30Q301', '1-50 51st Avenue', 'Long Island City', 444.0, 458.0, 444.0], ['24Q610', '45-30 36th Street', 'Long Island City', 511.0, 464.0, 456.0], ['30Q575', '28-04 41st Avenue', 'Long Island City', 495.0, 482.0, 479.0], ['30Q555', '28-01 41st Avenue', 'Long Island City', 490.0, 374.0, 381.0], ['24Q299', '30-20 Thomson Avenue', 'Long Island City', 631.0, 598.0, 610.0], ['24Q530', '45-35 Van Dam Street', 'Long Island City', 425.0, 367.0, 365.0], ['30Q502', '21-16 44th Road', 'Long Island City', 443.0, 420.0, 411.0], ['24Q560', '47-07 30th Place', 'Long Island City', 478.0, 445.0, 445.0], ['24Q264', '30-20 Thomson Avenue', 'Long Island City', 489.0, 456.0, 459.0], ['30Q286', '23-15 Newtown Avenue', 'Astoria', 483.0, 464.0, 477.0], ['30Q445', '48-10 31st Avenue', 'Astoria', 466.0, 424.0, 426.0], ['30Q450', '14-30 Broadway', 'Astoria', 430.0, 423.0, 412.0], ['30Q501', '35-12 35th Avenue', 'Astoria', 536.0, 543.0, 543.0], ['30Q258', '36-41 28th Street', 'Astoria', None, None, None], ['30Q580', '34-12 36th Avenue', 'Astoria', 633.0, 620.0, 628.0], ['13K419', '49 Flatbush Avenue Extension', 'Brooklyn', 399.0, 397.0, 386.0], ['13K439', '49 Flatbush Avenue Extension', 'Brooklyn', 432.0, 334.0, 333.0], ['15K423', '112 Schermerhorn Street', 'Brooklyn', None, None, None], ['15K497', '284 Baltic Street', 'Brooklyn', 417.0, 406.0, 394.0], ['15K429', '284 Baltic Street', 'Brooklyn', 393.0, 381.0, 402.0], ['13K674', '105 Johnson Street', 'Brooklyn', 503.0, 477.0, 427.0], ['13K527', '283 Adams Street', 'Brooklyn', 397.0, 415.0, 407.0], ['13K483', '283 Adams Street', 'Brooklyn', 446.0, 443.0, 430.0], ['15K519', '347 Baltic Street', 'Brooklyn', 416.0, 420.0, 402.0], ['13K605', '105 Johnson Street', 'Brooklyn', 394.0, 422.0, 400.0], ['13K350', '49 Flatbush Avenue Extension', 'Brooklyn', 372.0, 372.0, 361.0], ['18K629', '5800 Tilden Avenue', 'Brooklyn', 382.0, 395.0, 384.0], ['17K745', '600 Kingston Avenue', 'Brooklyn', None, None, None], ['18K569', '5800 Tilden Avenue', 'Brooklyn', 378.0, 394.0, 388.0], ['17K531', '600 Kingston Avenue', 'Brooklyn', 398.0, 411.0, 400.0], ['18K563', '5800 Tilden Avenue', 'Brooklyn', 364.0, 374.0, 361.0], ['17K546', '600 Kingston Avenue', 'Brooklyn', 468.0, 454.0, 464.0], ['18K589', '905 Winthrop Street', 'Brooklyn', 370.0, 383.0, 374.0], ['17K533', '600 Kingston Avenue', 'Brooklyn', 386.0, 385.0, 390.0], ['20K609', '4200 16th Avenue', 'Brooklyn', 428.0, 413.0, 417.0], ['20K505', '5800 20th Avenue', 'Brooklyn', 504.0, 411.0, 407.0], ['13K412', '300 Willoughby Avenue', 'Brooklyn', 358.0, 386.0, 380.0], ['13K265', '101 Park Avenue', 'Brooklyn', 332.0, 346.0, 350.0], ['13K670', '71-77 Clinton Avenue', 'Brooklyn', 479.0, 484.0, 472.0], ['14K071', '215 Heyward Street', 'Brooklyn', 366.0, 356.0, 353.0], ['14K449', '223 Graham Avenue', 'Brooklyn', 625.0, 588.0, 591.0], ['14K322', '70 Tompkins Avenue', 'Brooklyn', None, None, None], ['14K614', '325 Bushwick Avenue', 'Brooklyn', None, None, None], ['14K454', '223 Graham Avenue', 'Brooklyn', 384.0, 398.0, 399.0], ['14K586', '223 Graham Avenue', 'Brooklyn', 374.0, 376.0, 357.0], ['19K510', '400 Pennsylvania Avenue', 'Brooklyn', 380.0, 389.0, 384.0], ['19K502', '400 Pennsylvania Avenue', 'Brooklyn', 365.0, 369.0, 357.0], ['19K660', '145 Pennsylvania Avenue', 'Brooklyn', 326.0, 333.0, 350.0], ['19K504', '400 Pennsylvania Avenue', 'Brooklyn', 391.0, 373.0, 376.0], ['19K507', '400 Pennsylvania Avenue', 'Brooklyn', 375.0, 393.0, 394.0], ['19K409', '2057 Linden Boulevard', 'Brooklyn', 464.0, 451.0, 421.0], ['19K639', '999 Jamaica Avenue', 'Brooklyn', 383.0, 376.0, 370.0], ['19K583', '999 Jamaica Avenue', 'Brooklyn', 319.0, 323.0, 284.0], ['19K683', '370 Fountain Avenue', 'Brooklyn', 387.0, 391.0, 383.0], ['19K764', '999 Jamaica Avenue', 'Brooklyn', None, None, None], ['19K422', '1065 Elton Street', 'Brooklyn', None, None, None], ['19K615', '1 Wells Street', 'Brooklyn', 387.0, 387.0, 384.0], ['19K659', '999 Jamaica Avenue', 'Brooklyn', 365.0, 370.0, 362.0], ['19K404', '1065 Elton Street', 'Brooklyn', 382.0, 413.0, 391.

Outstanding! Using the ``json`` library and native-Python, you've extracted the JSON file into a list of lists.

## 6. Transforming and cleaning DataFrames

### Description

Once data has been curated into a cleaned Python data structure, such as a list of lists, it's easy to convert this into a ``pandas`` DataFrame. You'll practice doing just this with the data that was curated in the last exercise.

Per usual, ``pandas`` has been imported as ``pd``, and the ``normalized_testing_scores`` variable stores the list of each schools testing data, as shown below.

```py
[
    ['01M539', '111 Columbia Street', 'Manhattan', 657.0, 601.0, 601.0],
    ...
]  
```

### Instructions

* Create a ``pandas`` DataFrame from the list of lists stored in the ``normalized_testing_scores`` variable.
* Set the columns names for the ``normalized_data`` DataFrame.

In [53]:
# Alternate way to get back `normalized_testing_scores`

# df = raw_testing_scores.T
# scores_df = pd.json_normalize(df['scores'])
# df_normalized = pd.concat([df.drop(columns=['scores']), scores_df], axis=1)
# normalized_testing_scores = [[idx] + row.tolist() for idx, row in df_normalized.iterrows()]

In [54]:
# Create a DataFrame from the normalized_testing_scores list
normalized_data = pd.DataFrame(normalized_testing_scores)

# Set the column names
normalized_data.columns = ["school_id", "street_address", "city", "avg_score_math", "avg_score_reading", "avg_score_writing"]

normalized_data = normalized_data.set_index("school_id")
print(normalized_data.head())

                 street_address       city  avg_score_math  avg_score_reading  \
school_id
02M260     425 West 33rd Street  Manhattan             NaN                NaN
06M211       650 Academy Street  Manhattan             NaN                NaN
01M539      111 Columbia Street  Manhattan           657.0              601.0
02M294         350 Grand Street  Manhattan           395.0              411.0
02M308         350 Grand Street  Manhattan           418.0              428.0

           avg_score_writing
school_id
02M260                   NaN
06M211                   NaN
01M539                 601.0
02M294                 387.0
02M308                 415.0

Congrats! You've extracted a JSON file, and manipulated it such that it can be stored in a pandas DataFrame for downstream transformation.

## 7. Filling missing values with pandas

### Description

When building data pipelines, it's inevitable that you'll stumble upon missing data. In some cases, you may want to remove these records from the dataset. But in others, you'll need to impute values for the missing information. In this exercise, you'll practice using ``pandas`` to impute missing test scores.

Data from the file ``"testing_scores.json"`` has been read into a DataFrame, and is stored in the variable ``raw_testing_scores``. In addition to this, ``pandas`` has been loaded as ``pd``.

### Instructions

* Print the head of the ``raw_testing_scores`` DataFrame, and observe the NaN values.
* Use the average of the ``"math_score"`` column to fill the ``NaN`` values in the ``"math_score"`` column.
* Print the head of the updated DataFrame.
* For the ``"math_score"``, ``"reading_score"`` and ``"writing_score"`` columns, update the ``transform()`` function to fill NaN values with the mean of the respective columns, in place.
* Print the head of the cleaned DataFrame.

In [62]:
raw_testing_scores = pd.read_json("../Datasets/testing_scores.json")
raw_testing_scores

,street_address,city,math_score,reading_score,writing_score
02M260,425 West 33rd Street,Manhattan,NaN,NaN,NaN
06M211,650 Academy Street,Manhattan,NaN,NaN,NaN
01M539,111 Columbia Street,Manhattan,657.0,601.0,601.0
02M294,350 Grand Street,Manhattan,395.0,411.0,387.0
02M308,350 Grand Street,Manhattan,418.0,428.0,415.0
...,...,...,...,...,...
27Q302,8-21 Bay 25th Street,Far Rockaway,372.0,362.0,352.0
27Q324,100-00 Beach Channel Drive,Rockaway Park,357.0,381.0,376.0
27Q262,100-00 Beach Channel Drive,Rockaway Park,427.0,430.0,423.0
27Q351,100-00 Beach Channel Drive,Rockaway Park,399.0,403.0,405.0
27Q323,320 Beach 104th Street,Rockaway Park,588.0,560.0,568.0

In [60]:
# Print the head of the `raw_testing_scores` DataFrame
print(raw_testing_scores.head())

# Fill NaN values with the average from that column
raw_testing_scores["math_score"] = raw_testing_scores["math_score"].fillna(raw_testing_scores["math_score"].mean())

# Print the head of the raw_testing_scores DataFrame
print(raw_testing_scores.head())

def transform(raw_data):
	raw_data.fillna(
    	value={
			# Fill NaN values with column mean
			"math_score": raw_data["math_score"].mean(),
			"reading_score": raw_data["reading_score"].mean(),
			"writing_score": raw_data["writing_score"].mean()
		}, inplace=True
	)
	return raw_data

clean_testing_scores = transform(raw_testing_scores)

# Print the head of the clean_testing_scores DataFrame
print(clean_testing_scores.head())

              street_address       city  math_score  reading_score  \
02M260  425 West 33rd Street  Manhattan         NaN            NaN
06M211    650 Academy Street  Manhattan         NaN            NaN
01M539   111 Columbia Street  Manhattan       657.0          601.0
02M294      350 Grand Street  Manhattan       395.0          411.0
02M308      350 Grand Street  Manhattan       418.0          428.0

        writing_score
02M260            NaN
06M211            NaN
01M539          601.0
02M294          387.0
02M308          415.0
              street_address       city  math_score  reading_score  \
02M260  425 West 33rd Street  Manhattan     432.944            NaN
06M211    650 Academy Street  Manhattan     432.944            NaN
01M539   111 Columbia Street  Manhattan     657.000          601.0
02M294      350 Grand Street  Manhattan     395.000          411.0
02M308      350 Grand Street  Manhattan     418.000          428.0

        writing_score
02M260            NaN
06M211            NaN
01M539          601.0
02M294          387.0
02M308          415.0
              street_address       city  math_score  reading_score  \
02M260  425 West 33rd Street  Manhattan     432.944        424.504
06M211    650 Academy Street  Manhattan     432.944        424.504
01M539   111 Columbia Street  Manhattan     657.000        601.000
02M294      350 Grand Street  Manhattan     395.000        411.000
02M308      350 Grand Street  Manhattan     418.000        428.000

        writing_score
02M260     418.458667
06M211     418.458667
01M539     601.000000
02M294     387.000000
02M308     415.000000

Nicely done! Working with missing values is something that takes practice, and an understanding of the problem at hand. Thanks to pandas, it's easy to implement a wide variety of logic using the .fillna() method. Keep up the great work!

## 8. Grouping data with pandas

### Description

The output of a data pipeline is typically a "modeled" dataset. This dataset provides data consumers easy access to information, without having to perform much manipulation. Grouping data with ``pandas`` helps to build modeled datasets,

``pandas`` has been imported as ``pd``, and the ``raw_testing_scores`` DataFrame contains data in the following form:

```bash
              street_address       city  math_score  reading_score  writing_score
01M539   111 Columbia Street  Manhattan       657.0          601.0          601.0
02M294      350 Grand Street  Manhattan       395.0          411.0          387.0
02M308      350 Grand Street  Manhattan       418.0          428.0          415.0
```

### Instructions

* Use ``.loc[]`` to only keep the ``"city"``, ``"math_score"``, ``"reading_score"``, and ``"writing_score"`` columns.
* Group the DataFrame by the ``"city"`` column, and find the mean of each city's math, reading, and writing scores.
* Use the ``transform()`` function to create a grouped DataFrame.

In [63]:
raw_testing_scores

,street_address,city,math_score,reading_score,writing_score
02M260,425 West 33rd Street,Manhattan,NaN,NaN,NaN
06M211,650 Academy Street,Manhattan,NaN,NaN,NaN
01M539,111 Columbia Street,Manhattan,657.0,601.0,601.0
02M294,350 Grand Street,Manhattan,395.0,411.0,387.0
02M308,350 Grand Street,Manhattan,418.0,428.0,415.0
...,...,...,...,...,...
27Q302,8-21 Bay 25th Street,Far Rockaway,372.0,362.0,352.0
27Q324,100-00 Beach Channel Drive,Rockaway Park,357.0,381.0,376.0
27Q262,100-00 Beach Channel Drive,Rockaway Park,427.0,430.0,423.0
27Q351,100-00 Beach Channel Drive,Rockaway Park,399.0,403.0,405.0
27Q323,320 Beach 104th Street,Rockaway Park,588.0,560.0,568.0

In [61]:
def transform(raw_data):
	# Use .loc[] to only return the needed columns
	raw_data = raw_data.loc[:, ["city", "math_score", "reading_score", "writing_score"]]
	
    # Group the data by city, return the grouped DataFrame
	grouped_data = raw_data.groupby(by=["city"], axis=0).mean()
	return grouped_data

# Transform the data, print the head of the DataFrame
grouped_testing_scores = transform(raw_testing_scores)
print(grouped_testing_scores.head())

           math_score  reading_score  writing_score
city
Astoria    496.824000     483.084000     484.076444
Bayside    523.000000     479.000000     485.000000
Bellerose  453.000000     434.000000     439.000000
Bronx      409.202373     406.246441     399.679435
Brooklyn   418.044033     412.124364     404.615736

C:\Users\sanja\AppData\Local\Temp\ipykernel_16812\1302265986.py:6: FutureWarning: The 'axis' keyword in DataFrame.groupby is deprecated and will be removed in a future version.
  grouped_data = raw_data.groupby(by=["city"], axis=0).mean()

Great grouping! Leveraging pandas' aggregation capabilities help to create report-ready datasets for downstream data consumers.

## 9. Applying advanced transformations to DataFrames

### Description

``pandas`` has a plethora of built-in transformation tools, but sometimes, more advanced logic needs to be used in a transformation. The ``apply`` function lets you apply a user-defined function to a row or column of a DataFrame, opening the door for advanced transformation and feature generation.

The ``find_street_name()`` function parses the street name from the ``"street_address"``, dropping the street number from the string. This function has been loaded into memory, and is ready to be applied to the ``raw_testing_scores`` DataFrame.

### Instructions

* In the definition of the ``transform()`` function, use the ``find_street_name()`` function to create a new column with the name ``"street_name"``.
* Use the ``transform()`` function to clean the ``raw_testing_scores`` DataFrame.
* Print the head of the ``cleaned_testing_scores`` DataFrame, observing the new ``"street_name"`` column.

In [65]:
def find_street_name(row):
    # Split the street_address by spaces
    split_street_address = row["street_address"].split(" ")
    # Remove the number
    street_number = split_street_address[0]
    try:
        int(street_number)
    except ValueError:
        return row["street_address"]
    
    return " ".join(split_street_address[1:])

In [66]:
def transform(raw_data):
	# Use the apply function to extract the street_name from the street_address
    raw_data["street_name"] = raw_data.apply(
    	# Pass the correct function to the apply method
        find_street_name,
        axis=1
    )
    return raw_data

# Transform the raw_testing_scores DataFrame
cleaned_testing_scores = transform(raw_testing_scores)

# Print the head of the cleaned_testing_scores DataFrame
print(cleaned_testing_scores.head())

              street_address       city  math_score  reading_score  \
02M260  425 West 33rd Street  Manhattan         NaN            NaN
06M211    650 Academy Street  Manhattan         NaN            NaN
01M539   111 Columbia Street  Manhattan       657.0          601.0
02M294      350 Grand Street  Manhattan       395.0          411.0
02M308      350 Grand Street  Manhattan       418.0          428.0

        writing_score       street_name
02M260            NaN  West 33rd Street
06M211            NaN    Academy Street
01M539          601.0   Columbia Street
02M294          387.0      Grand Street
02M308          415.0      Grand Street

Amazing stuff! Being able to 'apply' functions to a DataFrame can really help streamline data transformation, especially when the logic in a transformation is more complex than pandas can handle with its built-in functionality.

## 10. Loading data to a Postgres database

### Description

After data has been extracted from a source system and transformed to align with analytics or reporting use cases, it's time to load the data to a final storage medium. Storing cleaned data in a SQL database makes it simple for data consumers to access and run queries against. In this example, you'll practice loading cleaned data to a Postgres database.

``sqlalchemy`` has been imported, and ``pandas`` is available as ``pd``. The first few rows of the ``cleaned_testing_scores`` DataFrame are shown below:

```bash
             street_address       city  math_score  ... best_score
01M539  111 Columbia Street  Manhattan       657.0      Math
02M545     350 Grand Street  Manhattan       613.0      Math
01M292     220 Henry Street  Manhattan       410.0      Math
```

### Instructions

* Update the connection string to write to the ``schools`` database and create a connection object using ``sqlalchemy``.
* Use pandas to write the ``cleaned_testing_scores`` DataFrame to the ``scores`` table in the ``schools`` database.
* If the table is already populated with data, make sure to replace the values with the current DataFrame.

In [67]:
# Update the connection string, create the connection object to the schools database
# db_engine = sqlalchemy.create_engine("postgresql+psycopg2://repl:password@localhost:5432/schools")

# Write the DataFrame to the scores table
'''cleaned_testing_scores.to_sql(
	name="scores",
	con=db_engine,
	index=False,
	if_exists="replace"
)'''

'cleaned_testing_scores.to_sql(\n\tname="scores",\n\tcon=db_engine,\n\tindex=False,\n\tif_exists="replace"\n)'

Lovely loading! The ``.to_sql()`` method is a powerful tool that helps to simplify the ``'load'`` component of ETL pipelines.

## 11. Validating data loaded to a Postgres Database

### Description

In this exercise, you'll finally get to build a data pipeline from end-to-end. This pipeline will extract school testing scores from a JSON file and transform the data to drop rows with missing scores. In addition to this, each will be ranked by the city they are located in, based on their total scores. Finally, the transformed dataset will be stored in a Postgres database.

To give you a head start, the ``extract()`` and ``transform()`` functions have been built and used as shown below. In addition to this, ``pandas`` has been imported as ``pd``. Best of luck!

```py
# Extract and clean the testing scores.
raw_testing_scores = extract("testing_scores.json")
cleaned_testing_scores = transform(raw_testing_scores)
```

### Instructions

* Update the ``load()`` function to write the ``clean_data ``DataFrame to the ``scores_by_city`` table in the ``schools`` database.
* If data exists in the ``scores_by_city`` table, makes sure to replace it with the updated data.
* Load the data from the ``cleaned_testing_scores``, using the ``db_engine`` that has already been defined.
* Use ``pandas ``to read data from the ``scores_by_city`` table, and print the first few rows of the DataFrame to validate that data was persisted.

In [69]:
def load(clean_data, con_engine):
	
    clean_data.to_sql(
    	name="scores_by_city",
		con=con_engine,
		if_exists="replace",  # Make sure to replace existing data
		index=True,
		index_label="school_id"
    )
 
# Call the load function, passing in the cleaned DataFrame
# load(cleaned_testing_scores, db_engine)

# Call query the data in the scores_by_city table, check the head of the DataFrame
# to_validate = pd.read_sql("SELECT * FROM scores_by_city", con=db_engine)
# print(to_validate.head())

Take a second to enjoy this! You just built a data pipeline that extracts data from a JSON file, transforms it, and stores it in a Postgres database for easy downstream access. Congrats!